<h1>コメント投稿</h1>

<div class="row comments_form">
	<div class="span6 offset3">
    <%= form_for [@post, @comments] do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form_control' %>
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form_control' %>

    <%= f.submit "コメントする", class: "btn btn-large btn-primary" %>
  <% end %>
  </div>
</div>
