<% provide(:title, '') %>
<h1><%= @post.name %>さんの投稿</h1>

<% if false %><%= paginate @posts %> <% end %>

<ul class="posts">
  <div class="post_name"><p>Name:</p></div>
  <div class="own_name"><p><%= @post.name %></p></div>
  <div class="post_content"><p>Content:</p></div>
  <div class="own_content"><p><%= @post.content %></p></div>
</ul>

  <div class="link_to_new">
    <%= link_to "投稿画面に戻る", new_post_path %>
  </div>
  <div class="link_to_index">
    <%= link_to "みんなの投稿に戻る", posts_path %>
  </div>
<% if false %><%= will_paginate @posts %><% end %>

<div class="row comments_form">
	<div class="span6 offset3">
    <%= form_for [@post, @comments] do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form_control' %>
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form_control' %>
      <%= f.hidden_field :post_id, :value => @post.id %>

    <%= f.submit "コメントする", class: "btn btn-large btn-primary" %>
  <% end %>
  </div>
</div>


<% @post.comments.each do |c| %>
  <div class="comments_name">
    <%= c.name %>
  </div>
  <div class="comments_content">
    <%= c.content %>
  </div>
</br>
<% end %>
